@import "./reset.scss";
html,
body {
    width: 100%;
    height: 100%;
}

* {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@function rem($font) {
    @return $font/37.5px*1rem;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: rem(45px);
    background: lightblue;
    @extend %juzhong;
}

.main {
    width: 100%;
    flex: 1;
    overflow: auto;
    .nav {
        background: white;
        width: 100%;
        height: rem(30px);
        display: flex;
        position: sticky;
        top: 0;
        left: 0;
        span {
            flex: 1;
            @extend %juzhong;
        }
    }
    .content li {
        width: 100%;
        height: rem(30px);
        line-height: rem(30px);
        border-bottom: 1px solid red;
    }
}

.col {
    background: red;
    color: white;
}

.footer {
    width: 100%;
    height: rem(45px);
    background: lightblue;
}